.header{
	height: 50vh;
	background-image:linear-gradient(rgba(30, 30, 30, 0.5),rgba(200, 200, 200, 0.5)),
	 url(./image/dangky2.jpg);
	background-size: cover;
	background-position: top;
	z-index: -1;
}
.header__menu{
	width: 100%;
	height: 100px;
	background-color: rgba(200, 200, 200, 0.5);
	position: absolute;
	top:0;
	left: 0;
}
.header__menu ul{
	display: flex;
	flex-wrap: wrap;
}
.header__menu ul li{
	list-style: none;
	margin-left: 5%;
	line-height: 100px;

}
.header__menu ul li a{
	text-decoration: none;
	color: white;
}
.header__menu ul li:hover{
	text-decoration: none;
	color: white;
}
.header__menu ul li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  transition: 0.5s;
  position: relative;
  top:-30px;
}
.header__menu ul li:hover:after {
  width: 100%;
  background:white;
}
#login{
	width: 500px;
	height: 400px;
	background-color:rgba(20,20,20,0.8);
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color:white;
	display: none;
}
form{
	
	
	text-align: center;
	margin:0 auto;
}
.formlogin{padding-top:25%;}
input{
	border-radius: 30px;
	text-align: center;
	width: 300px;

}
